.cells-container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh + 100px);
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: -100px 0;
}

.content {
  margin:-100px 0;
  padding: 2.5rem;
  background-color: hsla(0, 0%, 80%, 0.8);
  backdrop-filter: blur(14px);
  box-sizing: border-box;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  letter-spacing: 0.2pt;
  line-height: 28pt;
}

.title {
  font-family: continuo, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 42pt;
  line-height: 42pt;
  letter-spacing: -0.1pt;
  margin: 0 0 ;
  padding: 0;
}
